.LogoutButton::before {
    background-color: #1e2235;
    border-radius: 5px;
    content: '';
    display: block;
    height :100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: none;
    transition: transform 50ms ease;
    width: 100%;
    z-index: 2;
}
